html, body{
  height:  100%;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
  display: grid;
  grid-template-rows: repeat(5, 1fr) ;
  grid-template-columns: repeat(5, 1fr);
  height: inherit;
  margin: 0;

}

figcaption{
  color: white;
  margin-top: 15px;

}

.image{
  border-radius: 10px;
  margin: 0px 10px 0px 10px;
  height: 299px;
  width: 221px;
  cursor: pointer;
}

.image:hover{
  transform: scale(1.08);

}

.bordure{
  height: 400px;
  width: 250px;
  background: linear-gradient(#041964, #3C084F, #041964 );
  border-radius: 10px;
  position: absolute;
  z-index: -1;
}


#un, #deux, #trois, #quatre, #cinq, #six{
  margin: 45px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

input{
  cursor: pointer;
  margin-top: 20px;
}

#un{
  grid-area: 3/2/4/3 ;
}

#deux{
  grid-area: 3/3/4/4 ;
}

#trois{
  grid-area: 3/4/4/5 ;
}

#quatre{
  grid-area: 4/2/5/3 ;
}


#cinq{
  grid-area: 4/3/5/4
}

#six{
  grid-area: 4/4/5/5 ;
}

#presentation{
  grid-area: 2/2/3/5
}

h1{
  grid-area: 1/4/2/5;
  display: flex;
  justify-content: end;
}

#trait{
  grid-area: 1/4/2/5;
  border-bottom: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%; 
}

#gameboy{
  grid-area: 1/2/1/4;
  display: flex;
  justify-self: center;
  width: 65%;
  padding-top: 15%;
  padding-right: 10%;
}

#console{
  width: 100%;
  grid-area: 1/4/2/5;
  display: flex;
  justify-self: center;
  padding: 25px;
  border-radius: 50%;
}