* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Valorax;
    src: url("../valorax-font/Valorax-lg25V.otf") format("opentype");
}


body {
    background: #200016;
    height: 100vh;
    
font-family: Valorax;
}

a {
    text-decoration: none;
    color: white;
}


header {
    position: fixed;
    width: 95%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
}

  .princip_ul {
    list-style: none;
    height: 40px;
    width: fit-content;
    }
    .princip_ul li {
    display: inline-block;
    position: relative;
    padding: 0;


    }
    .princip_ul li a {
    display: block;
    padding: 10px 25px;
    color: #ffffffc6;
    text-decoration: none;
    font-size: 20px;
  text-align: center;
  
    }
    .princip_ul li ul.dropdown li {
    display: block;
    }
    .princip_ul li ul.dropdown {
    width: 100%;
    background:#e5dce24f;
    position: absolute;
    z-index: 999;
    display: none;
    }
    .princip_ul li:hover ul.dropdown {
        display: block;
    
        }
       
        .princip_ul ul li a:hover,
    .active {
        display: block;
    
        background: #67034441;
        color: #3C084F;
    }


    .logo {
        padding-top: 30px;
        height: 200px;
    
    }
    
    .logo1 {
        z-index: 5;
        position: absolute;
        top: 0;
        height: 100px;
    }
    
    .section1 {
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 730px;
        width: 99.5%;
        background-size: cover;
        background-repeat: no-repeat;
        border-top: solid 3px #13d2d2;
        border-right: solid 3px #13d2d2;
        border-left: solid 3px #13d2d2;
        
    }
    
    .carousel {
        margin-top: 200px;
        position: relative;
        width: 300px;
        height: 200px;
        transform-style: preserve-3d;
        transform: perspective(1900px) rotateY(0deg);
        animation: rotate 60s linear infinite;
        justify-content: center;
        display: flex;
    
    }
    
    .carousel__item {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
    
        transform: rotateY(calc(var(--i) * 90deg)) translateZ(400px);
    }
    
    .les_img {
        border: 3px ridge rgb(168, 9, 150);
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain repeat no-repeat;
        border-radius: 24px;
        cursor: pointer;
    }
    
    .les_img:hover {
     -moz-transform: scale(1.1);
    }
    
    .section2 {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 50px;
        height: 100%;
    }
    
    button {
        color: aqua;
        cursor: pointer;
        padding: 20px 50px 20px 50px;
        background-color: rgba(240, 46, 170, 0.2);
        color: aqua;
        border-radius: 24px;
        justify-content: center;
        border: rgb(255, 0, 162) 3px solid;
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px;
        margin-bottom: 50px;
    }

    .site-footer
{
  background-color:transparent;
  padding:10px 0 20px;
  
  font-size:15px;
  line-height:24px;
  color:#737373;
  font-family: Georgia, Arial and Helvetica;
  border-top: 2px solid #fafafa51;
  

}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
 padding-top: 10px;
  margin:0;
  border-top: 2px solid #fafafa51
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
    
@keyframes rotate {
    100% {
        transform: perspective(1100px) rotateY(360deg);
    }
}

@media screen and (max-width: 965px) {
    .section1 {
        height: 500px;
        width: 98.9%;

        border: solid 3px #051C24;
    }

    .carousel {

        position: relative;
        width: 150px;
        height: 100px;
        transform: perspective(1080px) rotateY(0deg);
        animation: rotate 60s linear infinite;

    }

    .carousel__item {


        transform: rotateY(calc(var(--i) * 45deg)) translateZ(210px);
    }

  
}