html, body{
    height:  100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    display: grid;
    grid-template-rows: repeat(5, 1fr) ;
    grid-template-columns: repeat(5, 1fr);
    height: inherit;
    margin: 0;
    
}

figcaption{
    color: white;
}

.image{
    border-radius: 10px;
    height: 65%;
    cursor: pointer;
}

.image:hover{
    transform: scale(1.08);
    
}

.bordure{
    height: 270px;
    width: 190px;
    background: linear-gradient(#041964, #3C084F, #041964 );
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    
    
}


#un, #deux, #trois, #quatre, #cinq, #six{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

input{
    
    cursor: pointer;
    margin-top: 6px;
}

figcaption{
    margin-top: 15px;
}

#un{
    grid-area: 3/2/4/3 ;
}

#deux{
    grid-area: 3/3/4/4 ;
}

#trois{
    grid-area: 3/4/4/5 ;
}

#quatre{
    grid-area: 4/2/5/3 ;
}


#cinq{
    grid-area: 4/3/5/4
}

#six{
    grid-area: 4/4/5/5 ;
}

#presentation{
    grid-area: 2/2/3/5
}

h1{
    grid-area: 1/4/2/5;
    display: flex;
    justify-content: end;
    

}

#trait{
    grid-area: 1/4/2/5;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
}

#sega{
    grid-area: 1/4/2/5;
    display: flex;
    align-items: end;
    justify-self: flex-end;
    width: 80%;
    padding-bottom: 05px;
}

#logo{
    grid-area: 1/2/2/3;
    display: flex;
    align-self: center;
    justify-self: center;
 }


