html, body{
    margin: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#container{
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: inherit;
}

#retour{
    grid-area: 1/2/2/3;
    display: flex;
    align-self: last baseline;
    justify-self: start;
    padding-bottom: 10px;
    text-decoration: none;
}

#jaquette{
    width: 60%;
    grid-area: 2/2/3/3;
    display: flex;
    justify-self: center;
}

#description{
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

#nb{
    grid-area: 3/2/4/3;
    display: flex;
    align-items: first baseline;
    justify-content: center;
}

#acheter{
    cursor: pointer;  
}

#qty{
    width: 30px;
    margin: 3px;
    
}

#titre{
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 5px;
}

#trait{
    border: 1px solid black;
    width: 65%;
    margin-bottom: 5px;
}

.caracteristiques{
    grid-area: 2/3/3/4;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0;
}

.genre{
    grid-area: 2/3/3/4;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.extraits{
    grid-area: 3/2/4/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    height: 50%;
}



